@model MvcMovie.Models.Student
@{
    ViewData["Title"] = "Student Khoa";
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <h1 class="display-4">@Model.Age</h1>
    <h1 class="display-4">@Model.Address</h1>
</div>
